{:blocks (
{:block/created-at 1704515799401
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [232 48]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "User Submits Video"
:id "264e50b0-ac4d-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill false
:point [40 264]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704515785109
:italic false}}
:block/updated-at 1704515799401} 
{:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [288 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label ""
:id "38b06e50-ac4d-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill false
:point [328 264]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704515815922
:italic false}}
:block/updated-at 1704515817822})
:pages (
{:block/uuid #uuid "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:name "ai-asd"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("264e50b0-ac4d-11ee-9e11-378aff2f4c21" "38b06e50-ac4d-11ee-9e11-378aff2f4c21")}}
:block/updated-at 1704515817822
:block/created-at 1704515714597
:block/type "whiteboard"
:block/name "ai-asd"
:block/original-name "ai-asd"})}