{:blocks (
{:block/created-at 1704584938783
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 14
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:isFlippedY false
:size [232 48]
:strokeType "line"
:ratio 1
:strokeWidth 2
:opacity 1
:label "User Submits Video"
:sides 3
:id "264e50b0-ac4d-11ee-9e11-378aff2f4c21"
:fontWeight 700
:noFill false
:point [48 264]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584639553
:italic false}}
:block/updated-at 1704584938783} 
{:block/created-at 1704584637728
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [288 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "State::Submitting"
:id "38b06e50-ac4d-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill false
:point [328 264]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704515815959
:italic false}}
:block/updated-at 1704584637728} 
{:block/created-at 1704585177854
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [304 80]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "State::Submitted(ID)"
:id "d463e5c0-ac4d-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill false
:point [656 264]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704516077184
:italic false}}
:block/updated-at 1704585177854} 
{:block/created-at 1704584948397
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "red"
:borderRadius 2
:index 2
:scale [1 1]
:scaleLevel "md"
:fill "red"
:type "box"
:size [304 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "State::Err::Submission"
:id "e542bec0-ac4d-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill false
:point [656 368]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704516105503
:italic false}}
:block/updated-at 1704584948397} 
{:block/created-at 1704584637728
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "f8292792-ac4d-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill true
:point [280 288]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [44 0]
:bindingId "f8292791-ac4d-11ee-9e11-378aff2f4c21"}}
:decorations 
{:end "arrow"}
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704516137176
:italic false}}
:block/updated-at 1704584637728} 
{:block/created-at 1704585061994
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "fc1778c2-ac4d-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill true
:point [616 288]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [36 0.03]
:bindingId "fc1778c1-ac4d-11ee-9e11-378aff2f4c21"}}
:decorations 
{:end "arrow"}
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704516143726
:italic false}}
:block/updated-at 1704585061994} 
{:block/created-at 1704584918423
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "red"
:index 5
:scale [1 1]
:scaleLevel "md"
:fill "red"
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "0261bb52-ac4e-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill true
:point [616 312]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [36 93.97]
:bindingId "0261bb51-ac4e-11ee-9e11-378aff2f4c21"}}
:decorations 
{:end "arrow"}
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704516154318
:italic false}}
:block/updated-at 1704584918423} 
{:block/created-at 1704584637728
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 6
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [304 64]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "State::Queue(Position)"
:id "a0412fb0-acec-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill false
:point [656 176]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584279681
:italic false}}
:block/updated-at 1704584637728} 
{:block/created-at 1704584637728
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 7
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "aadd4032-acec-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill true
:point [808 244]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 20]}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "aadd4031-acec-11ee-9e11-378aff2f4c21"}}
:decorations 
{:end "arrow"}
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584297417
:italic false}}
:block/updated-at 1704584637728} 
{:block/created-at 1704585176113
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 8
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [288 64]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "State::Predicting"
:id "c4622610-acec-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill false
:point [328 176]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584340449
:italic false}}
:block/updated-at 1704585176113} 
{:block/created-at 1704584637728
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 9
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "d3e8e922-acec-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill true
:point [620 203.65]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [35 0.81]
:bindingId "d3e8e920-acec-11ee-9e11-378aff2f4c21"}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "d3e8e921-acec-11ee-9e11-378aff2f4c21"}}
:decorations 
{:end "arrow"}
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584366312
:italic false}}
:block/updated-at 1704584637728} 
{:block/created-at 1704585169829
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 10
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [312 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "State::Complete(Confidence)"
:id "da89fe40-acec-11ee-9e11-378aff2f4c21"
:fontWeight 700
:noFill false
:point [168 72]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584378342
:italic false}}
:block/updated-at 1704585169829} 
{:block/created-at 1704585158131
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "green"
:index 11
:scale [1 1]
:scaleLevel "md"
:fill "green"
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "f4909742-acec-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill true
:point [398.47 148]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [9.53 28]}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "f4909741-acec-11ee-9e11-378aff2f4c21"}}
:decorations 
{:end "arrow"}
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584421193
:italic false}}
:block/updated-at 1704585158131} 
{:block/created-at 1704584956056
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "red"
:rotation 0
:borderRadius 2
:index 12
:scale [1 1]
:scaleLevel "md"
:fill "red"
:type "box"
:size [272 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "State::Err::Prediction"
:id "f8f94890-acec-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill false
:point [512 72]
:fontSize 20
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584428622
:italic false}}
:block/updated-at 1704584956056} 
{:block/created-at 1704584932449
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "red"
:index 13
:scale [1 1]
:scaleLevel "md"
:fill "red"
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "07f92862-aced-11ee-9e11-378aff2f4c21"
:fontWeight 400
:noFill true
:point [576 148]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 28]}
:end 
{:id "end"
:canBind true
:point [14.32 0]
:bindingId "07f92861-aced-11ee-9e11-378aff2f4c21"}}
:decorations 
{:end "arrow"}
:parentId "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:nonce 1704584453639
:italic false}}
:block/updated-at 1704584932449})
:pages (
{:block/uuid #uuid "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6598d882-bcdf-4e8e-9781-f17f252fbcb7"
:name "ai-asd"
:bindings 
{:f8292791-ac4d-11ee-9e11-378aff2f4c21 
{:id "f8292791-ac4d-11ee-9e11-378aff2f4c21"
:type "line"
:fromId "f8292792-ac4d-11ee-9e11-378aff2f4c21"
:toId "38b06e50-ac4d-11ee-9e11-378aff2f4c21"
:handleId "end"
:point [0.52 0.35]
:distance 4}
:fc1778c1-ac4d-11ee-9e11-378aff2f4c21 
{:id "fc1778c1-ac4d-11ee-9e11-378aff2f4c21"
:type "line"
:fromId "fc1778c2-ac4d-11ee-9e11-378aff2f4c21"
:toId "d463e5c0-ac4d-11ee-9e11-378aff2f4c21"
:handleId "end"
:point [0.53 0.32]
:distance 4}
:0261bb51-ac4e-11ee-9e11-378aff2f4c21 
{:id "0261bb51-ac4e-11ee-9e11-378aff2f4c21"
:type "line"
:fromId "0261bb52-ac4e-11ee-9e11-378aff2f4c21"
:toId "e542bec0-ac4d-11ee-9e11-378aff2f4c21"
:handleId "end"
:point [0.03 0.83]
:distance 4}
:aadd4031-acec-11ee-9e11-378aff2f4c21 
{:id "aadd4031-acec-11ee-9e11-378aff2f4c21"
:type "line"
:fromId "aadd4032-acec-11ee-9e11-378aff2f4c21"
:toId "a0412fb0-acec-11ee-9e11-378aff2f4c21"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:d3e8e920-acec-11ee-9e11-378aff2f4c21 
{:id "d3e8e920-acec-11ee-9e11-378aff2f4c21"
:type "line"
:fromId "d3e8e922-acec-11ee-9e11-378aff2f4c21"
:toId "a0412fb0-acec-11ee-9e11-378aff2f4c21"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:d3e8e921-acec-11ee-9e11-378aff2f4c21 
{:id "d3e8e921-acec-11ee-9e11-378aff2f4c21"
:type "line"
:fromId "d3e8e922-acec-11ee-9e11-378aff2f4c21"
:toId "c4622610-acec-11ee-9e11-378aff2f4c21"
:handleId "end"
:point [0.48 0.39]
:distance 4}
:f4909741-acec-11ee-9e11-378aff2f4c21 
{:id "f4909741-acec-11ee-9e11-378aff2f4c21"
:type "line"
:fromId "f4909742-acec-11ee-9e11-378aff2f4c21"
:toId "da89fe40-acec-11ee-9e11-378aff2f4c21"
:handleId "end"
:point [0.68 0.38]
:distance 4}
:07f92861-aced-11ee-9e11-378aff2f4c21 
{:id "07f92861-aced-11ee-9e11-378aff2f4c21"
:type "line"
:fromId "07f92862-aced-11ee-9e11-378aff2f4c21"
:toId "f8f94890-acec-11ee-9e11-378aff2f4c21"
:handleId "end"
:point [0.37 0.48]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("38b06e50-ac4d-11ee-9e11-378aff2f4c21" "d463e5c0-ac4d-11ee-9e11-378aff2f4c21" "e542bec0-ac4d-11ee-9e11-378aff2f4c21" "f8292792-ac4d-11ee-9e11-378aff2f4c21" "fc1778c2-ac4d-11ee-9e11-378aff2f4c21" "0261bb52-ac4e-11ee-9e11-378aff2f4c21" "a0412fb0-acec-11ee-9e11-378aff2f4c21" "aadd4032-acec-11ee-9e11-378aff2f4c21" "c4622610-acec-11ee-9e11-378aff2f4c21" "d3e8e922-acec-11ee-9e11-378aff2f4c21" "da89fe40-acec-11ee-9e11-378aff2f4c21" "f4909742-acec-11ee-9e11-378aff2f4c21" "f8f94890-acec-11ee-9e11-378aff2f4c21" "07f92862-aced-11ee-9e11-378aff2f4c21" "264e50b0-ac4d-11ee-9e11-378aff2f4c21")}}
:block/updated-at 1704585177866
:block/created-at 1704515714597
:block/type "whiteboard"
:block/name "ai-asd"
:block/original-name "ai-asd"})}